.portfolio__container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:2rem;
}
.portfolio__item{
    background:var(--color-bg-variant);
    padding:1.5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);

}

.portfolio__item:hover{
    background: transparent;
    border-color: white;
    

}
.portfolio__item-img{
   
    border-radius: 1.5rem;
    overflow: hidden;
    
}

.portfolio__item h3{

     margin:1rem 0 1rem;
}

.portfolio__item-cta{
    display: flex;
    gap:2rem;
    margin-bottom: 0.5rem;
}

@media screen and (max-width:1024px) {
    .portfolio__container{
        grid-template-columns: 1fr 1fr;
        gap:1.2rem
    }
}

@media screen and (max-width:600px) {
    .portfolio__container{
        grid-template-columns: 1fr;
        gap:1.2rem;
    }
}